<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />

        <script type="text/javascript">
            document.documentElement.className = 'js';
        </script>
    </head>
    
    <body class="home page-template-default page page-id-8371 custom-background dbdb_divi_2_4_up desktop et_bloom et_monarch page-big-magic et_pb_button_helper_class et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter et_pb_gutters3 et_pb_pagebuilder_layout et_smooth_scroll et_no_sidebar et_divi_theme et-db">
        <div id="page-container">
            <header id="main-header" data-height-onload="66">
            <div class="container clearfix et_menu_container">
                <div class="nav-name">
                    <h1 style="color:#8ac826;">MEL</h1>
                    <h1 style="color:#fe595e;">HAMMOND</h1>
                    <h1 style="color:#1a81c4;">BOOKS</h1>
                </div>
                <div id="et-top-navigation" data-height="66" data-fixed-height="40">
                    <nav id="top-menu-nav">
                    <ul id="top-menu" class="nav">
                        <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-44"><a href="index.html?p=27"><i class="fa fa-book"></i><span class="fontawesome-text"> Books</span></a>
                            <ul class="sub-menu">
                                <li id="menu-item-15818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8371 current_page_item menu-item-15818"><a href="tour/tour-archive/\&quot;http:/www.sunvalleywellness.org/\&quot;" aria-current="page">City of Girls</a></li>
                                <li id="menu-item-15191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15191"><a href="index.html?p=15189">Big Magic</a></li>
                                <li id="menu-item-15138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15138"><a href="eatpraylovemademedoit/index.html">Eat Pray Love Made Me Do It</a></li>
                                <li id="menu-item-1553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1553"><a href="index.html?p=1536">The Signature of All Things</a></li>
                                <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="index.html?p=160">Eat Pray Love</a></li>
                                <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="index.html?p=147">COMMITTED: A Love Story</a></li>
                                <li id="menu-item-952" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-952"><a href="index.html?p=348">At Home on the Range</a></li>
                                <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="index.html?p=161">The Last American Man</a></li>
                                <li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="index.html?p=165">Stern Men</a></li>
                                <li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="index.html?p=159">Pilgrims</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-11352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11352"><a href="index.html?p=11302"><i class="fa fa-calendar"></i><span class="fontawesome-text"> Events</span></a></li>
                        <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a href="index.html?p=30"><i class="fa fa-user"></i><span class="fontawesome-text"> Bio</span></a></li>
                        <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="index.html?p=34"><i class="fa fa-send"></i><span class="fontawesome-text"> Contact</span></a></li>
                        <li id="menu-item-8145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8145"><a href="index.html?p=428"><i class="fa fa-envelope"></i><span class="fontawesome-text"> Liz News</span></a></li>
                        <li id="menu-item-16071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16071"><a href="index.html?p=15975"><i class="fa fa-share-square"></i><span class="fontawesome-text"> Onward</span></a></li>
                        <li id="menu-item-15349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15349"><a target="_blank" rel="noopener" href="https://www.facebook.com/GilbertLiz"><i class="fa fa-facebook-square"></i><span class="fontawesome-text"> Facebook</span></a></li>
                        <li id="menu-item-15350" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15350"><a target="_blank" rel="noopener" href="https://twitter.com/GilbertLiz"><i class="fa fa-twitter"></i><span class="fontawesome-text"> Twitter</span></a></li>
                        <li id="menu-item-15351" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15351"><a target="_blank" rel="noopener" href="https://instagram.com/elizabeth_gilbert_writer"><i class="fa fa-instagram"></i><span class="fontawesome-text"> Instagram</span></a></li>
                    </ul>
                    </nav>
                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="et_search_outer">
            <div class="container et_search_form_container">
                <form role="search" method="get" class="et-search-form" action="tour/tour-archive/\&quot;http:/www.sunvalleywellness.org/\&quot;">
                <input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />					</form>
                <span class="et_close_search_field"></span>
            </div>
        </div>
        </header> <!-- #main-header -->

            <div id="et-main-area">
            <div id="main-content">
            <article id="post-8371" class="post-8371 page type-page status-publish has-post-thumbnail hentry">
            <div class="entry-content">
            <div id="et-boc" class="et-boc">
            <div class="et-l et-l--post">
            <div class="et_builder_inner_content et_pb_gutters3"><div id="city-of-girls" class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular" >
            <div class="et_pb_row et_pb_row_0">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_light">
            <div class="et_pb_text_inner"><h1 style="text-align: center; padding-bottom: 0;">BOOK TITILE 01</h1></div>
            </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1 city-coming  et_pb_text_align_center et_pb_bg_layout_light">

                <div class="et_pb_text_inner"><h2>Now Available in Paperback</h2>
                    <p>"Here is some text here about this amazing book. Checkout BOOK TITLE 01 by Mel Hammond today!”</p>       
                </div>

            </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_1 et_pb_gutters4">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_0">
            <span class="et_pb_image_wrap "><img src="images/placeholder.png" alt="placeholder 1" title="placeholder 1" height="auto" width="auto"  /></span>
            </div>
            </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_image et_pb_image_1">
            <span class="et_pb_image_wrap "><img loading="lazy" src="wp-content/uploads/2020/02/CoG-uk-paperback-web.png" alt="City of Girls by Elizabeth Gilbert" title="City of Girls by Elizabeth Gilbert" height="auto" width="auto" srcset="wp-content/uploads/2020/02/CoG-uk-paperback-web.png 431w, wp-content/uploads/2020/02/CoG-uk-paperback-web-424x600.png 424w, wp-content/uploads/2020/02/CoG-uk-paperback-web-106x150.png 106w" sizes="(max-width: 431px) 100vw, 431px" class="wp-image-15931" /></span>
            </div>
            </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_2">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div id="city-buy-large-inline" class="et_pb_module et_pb_text et_pb_text_2 cog-paperback  et_pb_text_align_center et_pb_bg_layout_dark">
            <div class="et_pb_text_inner"><ul>
            <li style="text-align: center;"><a href="http://bit.ly/2v5NjgU" target="_blank" rel="noopener noreferrer">Amazon</a></li>
            <li style="text-align: center;"><a href="http://bit.ly/2wLZik5" target="_blank" rel="noopener noreferrer">Barnes and Noble</a></li>
            <li style="text-align: center; display:none;"><a href="http://bit.ly/2Q3OBha" target="_blank" rel="noopener noreferrer">Books-a-Million</a></li>
            <li style="text-align: center;"><a href="http://bit.ly/2SX3ypj" target="_blank" rel="noopener noreferrer">IndieBound</a></li>
            <li style="text-align: center;"><a href="http://bit.ly/2PkvEc0" target="_blank" rel="noopener noreferrer">Apple Books</a></li>
            <li style="text-align: center; display:none;"><a href="https://www.audible.com/pd/City-of-Girls-Audiobook/1984888471" target="_blank" rel="noopener noreferrer">Audible</a></li>
            <li style="text-align: center;"><a href="index.html?p=15744">International Orders</a></li>
            </ul></div>
            </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3">
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_text et_pb_text_3 city-text  et_pb_text_align_center et_pb_bg_layout_light">
            <div class="et_pb_text_inner">New from the # 1 <em>New York Times</em> bestselling author of <em>Eat, Pray, Love</em> and <em>The Signature of All Things</em>, a delicious novel of glamour, sex, and adventure, about a young woman discovering that you don&#8217;t have to be a <em>good girl</em> to be a good person.</div>
            </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row -->
            </div> <!-- .et_pb_section -->		</div><!-- .et_builder_inner_content -->
            </div><!-- .et-l -->
            </div><!-- #et-boc -->
            </div> <!-- .entry-content -->
            </article> <!-- .et_pb_post -->
            </div> <!-- #main-content -->
        
                <footer id="main-footer">
                    <div id="footer-bottom">
                        <div class="container clearfix">
                            <ul class="et-social-icons">
                                <li class="et-social-icon et-social-facebook">
                                    <a href="https://www.facebook.com/GilbertLiz" class="icon">
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li class="et-social-icon et-social-twitter">
                                    <a href="https://twitter.com/GilbertLiz" class="icon">
                                        <span>Twitter</span>
                                    </a>
                                </li>
                            </ul>
                        <p id="footer-info">&copy; 2020 <a href="https://www.rivernetcreative.com" title="River Net Creative Industries" class="rnetcreative">River Net Creative Industries</a> <span class="hide">|</span> A Division of <a href="https://rivernetcomputers.com" class="rnetcomputers">River Net Computers</a></p>
                        </div>	<!-- .container -->
                    </div>
                </footer> <!-- #main-footer -->
            </div> <!-- #et-main-area -->
        </div> <!-- #page-container -->
    
    <style>
    .et_pb_slide.db_background_url:hover{
    cursor:pointer;
    }
    </style>

    <script>
    jQuery(function($){
    $(".db_background_url").click(function(){
    var url = $(this).data('db_background_url');
    if (url.indexOf('#') == 0 || url.indexOf('.') == 0) {
    et_pb_smooth_scroll($(url), false, 800);
    } else {
    document.location=url;
    }
    });
    });
    </script>

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" media="all"/>
    </body>
</html>